test-results/
dump/
Content/
Scratch/
Debug/
Release/
Scratch/
packages/

*.nupkg
*.suo
*.user
*.cache
*.ncb
*.log
*.jbf
*.sdf
*.cachefile
*.orig
*.pidb
*.userprefs
*.resources

.DS_Store
thumbs.db
UpgradeLog.xml
dump.rdb
