<?xml version="1.0" encoding="UTF-8" ?>
<VersionConfig>
    <FileType>
        <Name>Version-in-a-text-file</Name>
        <FileSpec>*.version.txt</FileSpec>
        <Write>Release ${Major}.${Minor}.${Build}.${Revision}</Write>
    </FileType>
    <FileType>
        <Name>SVG Files</Name>
        <FileSpec>*.svg</FileSpec>
        <Update>
            <Search>(?'Before'VERSION )([0-9]+\.[0-9]+\.[0-9]+)</Search>
            <Replace>${Before}${Major}.${Minor}.${Build}</Replace>
        </Update>
    </FileType>
    <FileType>
        <Name>Windows Manifest File</Name>
        <FileSpec>WMManifest.xml</FileSpec>
        <Update>
            <Search>(?'Before'Version=")([0-9]+\.[0-9]+)(?'After'\.[0-9]+\.[0-9]+")</Search>
            <Replace>${Before}${Major}.${Minor}${After}</Replace>
        </Update>
    </FileType>
    <FileType>
        <Name>C# Source</Name>
        <FileSpec>*.cs</FileSpec>
        <Update>
            <Search>(?'Before'AssemblyVersion\(")([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)(?'After'"\))</Search>
            <Replace>${Before}${Major}.${Minor}.0.0${After}</Replace>
        </Update>
        <Update>
            <Search>(?'Before'AssemblyFileVersion\(")([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)(?'After'"\))</Search>
            <Replace>${Before}${Major}.${Minor}.${Build}.${Revision}${After}</Replace>
        </Update>
    </FileType>
    <FileType>
        <Name>Windows RC File</Name>
        <FileSpec>*.rc</FileSpec>
        <Update>
            <Search>(?'Before'FILEVERSION )([0-9]+,[0-9]+,[0-9]+,[0-9]+)</Search>
            <Replace>${Before}${Major},${Minor},${Build},${Revision}</Replace>
        </Update>
        <Update>
            <Search>(?'Before'PRODUCTVERSION )([0-9]+,[0-9]+,[0-9]+,[0-9]+)</Search>
            <Replace>${Before}${Major},${Minor},${Build},${Revision}</Replace>
        </Update>
        <Update>
            <Search>(?'Before'"FileVersion",[ \t]*")([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)(?'After'")</Search>
            <Replace>${Before}${Major}.${Minor}.${Build}.${Revision}${After}</Replace>
        </Update>
        <Update>
            <Search>(?'Before'"ProductVersion",[ \t]*")([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)(?'After'")</Search>
            <Replace>${Before}${Major}.${Minor}.${Build}.${Revision}${After}</Replace>
        </Update>
    </FileType>
    <FileType>
        <Name>WiX Files</Name>
        <FileSpec>*.wxi</FileSpec>
        <FileSpec>*.wxs</FileSpec>
        <Update>
            <Search>(?'Before'ProductVersion = ")([0-9]+\.[0-9]+)(?'After'")</Search>
            <Replace>${Before}${Major}.${Minor}${After}</Replace>
        </Update>
        <Update>
            <Search>(?'Before'ProductBuild = ")([0-9]+\.([0-9]|[1-9][0-9]))(?'After'")</Search>
            <Replace>${Before}${Build}.${Revision}${After}</Replace>
        </Update>
    </FileType>
    <FileType>
        <Name>.NET Config Files</Name>
        <FileSpec>*.config</FileSpec>
        <Update>
            <Search>(?'Before', +Version=)\d+\.\d+(?'After'\.0\.0 *,)</Search>
            <Replace>${Before}${Major}.${Minor}${After}</Replace>
        </Update>
    </FileType>
    <FileType>
        <Name>Visual Studio Project Files</Name>
        <FileSpec>*.csproj</FileSpec>
        <Update>
            <Search>(?'Before'&lt;OutputName&gt;" + projectName + @"_)([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)(?'After'&lt;/OutputName&gt;)</Search>
            <Replace>${Before}${Major}.${Minor}.${Build}.${Revision}${After}</Replace>
        </Update>
    </FileType>
    <FileType>
        <Name>VSIX Manifest</Name>
        <FileSpec>*.vsixmanifest</FileSpec>
        <Update>
            <Search>(?'Before'&lt;Version&gt;)([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)(?'After'&lt;/Version&gt;)</Search>
            <Replace>${Before}${Major}.${Minor}.${Build}.${Revision}${After}</Replace>
        </Update>
    </FileType>
</VersionConfig>
